@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;&family=Ubuntu:wght@300&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: rgb(12, 70, 118);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(12, 70, 118);
}

.piano {
  display: flex;
  border: 2px solid black;
  box-shadow: 12px 12px 6px rgba(0, 0, 0, 0.598);
}
.black {
  background-color: black;
  height: 10rem;
  width: 2.5rem;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  z-index: 2;
}
.white {
  background-color: white;
  height: 16rem;
  width: 4rem;
  border: 1px solid black;
}
.white.active {
  background-color: rgb(207, 207, 207);
}
.black.active {
  background-color: rgb(40, 40, 40);
}
@media (max-width: 500px) {
  .white {
    height: 12rem;
    width: 2.5rem;
  }
  .black {
    height: 8rem;
    width: 1.5rem;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
}
